<h1 class="header__title">メモアプリ</h1>
<p class="sub-title">メモタイトル</p>
<p><%= @file["title"] %></p>
<p class="sub-title">メモ内容 </p>
<p><%= @file["message"] %></p>
<input type="button" onclick="location.href='http://localhost:4567/memos/<%=@file["id"]%>/edit'" value="変更">
<button onclick="location.href='http://localhost:4567/memos/<%=@file["id"]%>/delete'">削除</button>