<h1 class="header__title">メモアプリ</h1>
<p class="sub-title">メモタイトル</p>
<p><%= @specific["title"] %></p>
<p class="sub-title">メモ内容 </p>
<p><%= @specific["message"] %></p>
<input type="button" onclick="location.href='http://localhost:4567/memos/<%= @specific["id"] %>/edit'" value="変更">
<button onclick="location.href='http://localhost:4567/memos/<%= @specific["id"] %>/delete'">削除</button>