<h1 class="header__title">メモアプリ</h1>
<div class="memos_list">
  <% @memos.each do |memo| %>
  <li><a href="/memos/<%= h(memo["id"]) %>"><%= h(memo["title"]) %></a></li>
  <% end %>
</div>
<input type="button" onclick="location.href='/memos/new'" value="追加">
